.contenedormenus {
  display: flex;
  position: fixed;
  width: 20%;
  z-index: 1001;
}

.contenedorlogo {
  z-index: 1001;
}

.contenedorlogo div {

  background-position: bottom;
  background-repeat: repeat-x;
}

.logo {
  background: transparent;
  color: #fff;
  z-index: 999;
}

.contenedormenu {
  background-position: bottom;
  background-repeat: repeat-x;
  padding-left: 1%;
  height: 225px;
  position: relative;
  width: 45%;
}

.menu {
  display: flex;
  position: fixed;
  z-index: 1003;
  flex-direction: column;
  transform-origin: 52% 63%;
  rotate: 270deg;
  width: 9%;
  margin-left: 2%;
  margin-top: -0.5%;
  min-width: 180px;
}

.menu li {
  list-style-type: none;
  width: 100%;

}

.menu li button {
  color: #ffffff;
  display: flex;
  text-decoration: none;
  padding-left: 0.5em;
  font-size: 1.08em;
  text-transform: uppercase;
  border-radius: 6px;
  background-repeat: no-repeat;
  min-height: 4.5em;
  margin-bottom: -1.35em;
  width: 100%;
  cursor: pointer;
}

.menu li button:hover {
  margin-left: 1em;
}

.cabecera {
  height: 4.5vh
}

.contenedorestanteria {
  padding-bottom: 63em;
}

.baldader {
  display: flex;
  align-items: flex-end;
  margin-top: 1.8em;
}

.baldaizq {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.8em;
}

.estanteriader {
  display: flex;
  align-self: stretch;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  flex-grow: 1;
}

.estanteriaizq {
  display: flex;
  align-self: stretch;
  background-repeat: no-repeat;
  background-position: 100% bottom;
  flex-grow: 1;
}

.sinopsiscaja {
  display: none;
}

.libroficha .sinopsiscaja {
  display: flex;
}

.estanteria {
  background-position: bottom;
  background-repeat: repeat-x;
  padding-left: 0;
  display: flex;
}

.preciocaja {
  color: #999;
  font-size: 0.72vw;
  line-height: 31px;
}

.portadacaja img {
  width: 100%;
  height: 100%;
}

.titulocaja {
  color: #000000;
  transform-origin: 0%;
  rotate: 270deg;
  background-color: #ffffff;

  padding-left: 0.36em;
  position: absolute;

}

.autorcaja {
  color: #000000;
  transform-origin: 0%;
  rotate: 270deg;
  background-color: #ffffff;
  padding-left: 0.36em;
  position: absolute;
}

.libro button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: monospace;
  line-height: 1.6;
  text-align: left;
}



.baldaizq .libro:hover .sinopsiscaja {
  display: flex;
  width: 36vw;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 9px;
  margin-top: 7.8em;
  right: 0;
  padding: 1em;
  font-size: 1.35em;
  position: absolute;
  z-index: 2;
  font-size: 1em;
  border: #000000 solid 3px;
  font-weight: 400;
}

.baldader .libro:hover .sinopsiscaja {
  display: flex;
  width: 31vw;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 9px;
  margin-top: 7.8em;
  left: 0;
  padding: 1em;
  font-size: 1.35em;
  position: absolute;
  z-index: 2;
  font-size: 1em;
  border: #000000 solid 3px;
  font-weight: 400;
}

.baldaizq .libro:hover .preciocaja {
  color: #ffffff;
  background-color: #000000;
  font-size: 1.1em;
  border-radius: 6px;
  line-height: inherit;
  text-align: right;
  padding-right: 1em;
  right: 0;
  position: absolute;
}

.baldader .libro:hover .preciocaja {
  color: #ffffff;
  background-color: #000000;
  font-size: 1.1em;
  border-radius: 6px;
  line-height: inherit;
  text-align: right;
  padding-right: 1em;
  position: absolute;
}

.baldaizq .libro:hover .titulocaja {
  rotate: 0deg;
  margin-top: 2em;
  margin-left: 0;
  font-size: 1.1em;
  border-radius: 6px;
  padding-right: 1em;
  text-align: right;
  right: 0;
  border: #000000 solid 3px;

}

.baldader .libro:hover .titulocaja {
  rotate: 0deg;
  margin-top: 2em;
  margin-left: 0;
  font-size: 1.1em;
  border-radius: 6px;
  padding-left: 1em;
  border: #000000 solid 3px;

}

.baldaizq .libro:hover .autorcaja {
  rotate: 0deg;
  margin-top: 4.5em;
  margin-left: 0;
  font-size: 1.1em;
  border-radius: 6px;
  padding-right: 1em;
  text-align: right;
  right: 0;
  border: #000000 solid 3px;

}

.baldader .libro:hover .autorcaja {
  rotate: 0deg;
  margin-top: 4.5em;
  margin-left: 0;
  font-size: 1.1em;
  border-radius: 6px;
  padding-left: 1em;
  border: #000000 solid 3px;

}

.botoninicio {
  border: solid #636363 2px;
  background-color: #ffffff;
  cursor: pointer;
  margin: 1em 1em 1em auto;
  display: flex;
  font-size: 1.35em;
  padding: 0.5%;
  border-radius: 5px;
}


@media (max-width: 700px) {
  .contenedorlogo {
    min-width: 360px;
    display: flex;
    position: absolute;
    margin-top: -180px;
    z-index: 1002;
  }

  .contenedorlogo img {
    position: absolute;
  }

  .contenedorlogo .estanteriader {
    min-width: 200px;
  }

  .contenedormenus {
    min-width: 360px;
    margin-top: 90px;
    width: 21%;
    position: relative;
  }

  .contenedormenus .estanteriader {
    min-width: 200px;
  }

  .contenedormenu img {
    display: none;
    margin-top: 225px;
    margin-left: -135px;
  }

  .menu {
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1003;
    width: 100%;
    align-items: flex-start;
    transform-origin: 56% 56%;
    max-width: 360px;
  }

  .menu li {
    list-style-type: none;
    padding: 0 0.25em;
    width: 90%;

  }

  .contenedorestanteria {
    padding-top: 0;
    position: relative;
    z-index: 0;
    padding-bottom: 6.3em;
  }

  .estanteria {
    width: 100%;
    flex-wrap: wrap;
    background-size: 0.23%;
    background-position: 0 96.5%;
  }

  .estanteria :nth-child(6),
  .estanteria :nth-child(7),
  .estanteria :nth-child(8),
  .estanteria :nth-child(9) {
    background-image: none !important;
  }

  .libro {
    width: 27.5%;
    margin-right: -9%;
    margin-bottom: 1.08em;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 0.81%;
  }

  .libroficha {
    display: flex;
    align-items: flex-end;
    width: 100%;
    flex-wrap: wrap;
    margin-top: -4.5em;

  }

  .libroficha section {
    width: 54%;
    padding-right: 4.5%;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 0.59%;
    max-width: 171px;
  }

  .libroficha .sinopsiscaja {
    width: 100%;
    padding: 1vh;
    order: 3;
    padding: 5%;
  }

  .libroficha .titulocaja,
  .libroficha .autorcaja,
  .libroficha .preciocaja {
    font-size: 1em;
  }

  .libroficha .estanteriaizq {
    align-self: stretch;
  }

  .libro button {
    font-size: 0.54vw;
  }
  .libro:hover {
    translate: -3.6em 4.5em;
    height: 450px;
    margin-bottom: -50%;
    background-image: none !important;
  }
  .titulocaja {
    font-size: 3.33em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 45ch;
    width: calc(22em);
    margin-top: -1.45em;
    margin-left: 1.26em;
  }

  .autorcaja {
    font-size: 3.33em;
    width: calc(22em);
    margin-top: -1.45em;
    margin-left: 2.61em;
  }

  .preciocaja {
    font-size: 6.3em;
    line-height: 25px;
    padding-left: 0.5em;
  }
}

/* Non Mobile */
@media (min-width: 701px) and (max-width: 1241px) {
  .contenedorestanteria {
    padding-top: 252px;
  }

  .contenedorlogo {
    min-width: 360px;
    display: flex;
    position: fixed;
    margin-top: -180px;
    z-index: 1002;
  }

  .contenedorlogo img {
    position: fixed;
  }

  .contenedorlogo .estanteriader {
    min-width: 200px;
  }

  .contenedormenus {
    min-width: 360px;
    margin-top: 90px;
    width: 21%;
  }

  .contenedormenus .estanteriader {
    min-width: 200px;
  }

  .contenedormenu img {
    margin-top: 252px;
    margin-left: -135px;
    display: none;
  }

  .baldaizq .estanteria {
    justify-content: flex-start;
    width: 81%;
    margin-right: -9%;

  }

  .baldader .estanteria {
    justify-content: center;
    width: 92.5%;
    padding-left: 8.5%;
  }

  .libro {
    width: 13%;
    margin-right: -4.5%;
    font-weight: 700;
    background-image: none !important;
  }
  .libro:hover {
    translate: -3.6em 4.5em;
    height: 450px;
    margin-bottom: -50%;
    
  }
  .libro button {
    font-size: 0.63vw;
  }

  .titulocaja {
    width: calc(18em);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 45ch;
    margin-top: -1.8em;
    margin-left: 1em;
    font-size: 1.53em;
  }

  .autorcaja {
    width: calc(18em);
    margin-top: -1.8em;
    margin-left: 2.43em;
    font-size: 1.53em;
  }
  .preciocaja {
    font-size: 1.8em;
  }

  .libroficha {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-top: -180px;
    flex-wrap: wrap;

  }

  .libroficha section {
    width: 27%;
    background-position: bottom;
    background-repeat: repeat-x;
    padding-right: 9%;
  }

  .libroficha section .portadacaja img {
    max-width: 187px;
  }

  .libroficha .estanteriaizq {
    min-width: 200px;
  }

  .libroficha .sinopsiscaja {
    width: 100%;
    padding-left: 9%;
    padding-right: 9%;
    align-self: stretch;
    padding-top: 9%;
    order: 3;
  }

  .libroficha .titulocaja,
  .libroficha .autorcaja,
  .libroficha .preciocaja {
    font-size: 0.69vw;
  }

  .libroficha .estanteriaizq {
    align-self: stretch;
  }
}

/* Non Mobile */
@media (min-width: 1242px) {
  .contenedorlogo {
    min-width: 360px;
    display: flex;
    position: fixed;
    margin-top: -171px;
    z-index: 1002;
  }

  .contenedorlogo img {
    position: fixed;
  }

  .contenedorlogo .estanteriader {
    min-width: 200px;
  }

  .contenedormenus {
    min-width: 360px;
    margin-top: 90px;
    width: 21%;
    top: 0;
  }

  .contenedormenus .estanteriader {
    min-width: 200px;
  }

  .contenedormenu img {
    margin-top: 225px;
    margin-left: -135px;
  }

  .baldaizq .estanteria {
    justify-content: flex-start;
    width: 67.5%;
    padding-right: 5%;

  }

  .baldader .estanteria {
    justify-content: center;
    width: 81%;
    padding-left: 18%;
  }

  .libro {
    width: 18%;
    margin-right: -8.1%;
    font-weight: 700;
    background-image: none !important;
  }

  .libro button {
    font-size: 0.63vw;
  }

  .titulocaja {
    width: calc(25em);
    margin-top: -1.8em;
    margin-left: 1.35em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 45ch;
  }

  .autorcaja {
    width: calc(25em);
    margin-top: -1.8em;
    margin-left: 2.7em;
  }
  .libro:hover {
    translate: -6.3em 5.4em;
    height: 450px;
    margin-bottom: -50%;
  }
  .libro:hover .preciocaja {
    width: calc(25em);
  }

  .libroficha {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding-top: 3%;

  }

  .libroficha section {
    width: 27%;
    background-position: bottom;
    background-repeat: repeat-x;
    padding-right: 9%;
  }

  .libroficha section .portadacaja img {
    max-width: 185px;
  }

  .libroficha .estanteriaizq {
    min-width: 200px;
  }

  .libroficha .sinopsiscaja {
    width: 54%;
    padding-left: 23%;
    align-self: stretch;
    padding-top: 21vh;
  }

  .libroficha .titulocaja,
  .libroficha .autorcaja,
  .libroficha .preciocaja {
    font-size: 0.69vw;
  }

  .libroficha .estanteriaizq {
    align-self: stretch;
  }
}